<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[PhishingMinds.Tests]*,[DynamicProxyGenAssembly2]*,[*]Castle.Proxies.*,[*]EmailDispatcher.Domain.*,[*]EmailDispatcher.Worker*,[*]EmailDispatcher.Program*,[*]PhishingMinds.Server.Data.*,[*]PhishingMinds.Server.Models.*,[*]PhishingMinds.Server.Program*,[*]Program*,[*]PhishingMinds.Server.Controllers.CampanhaController*,[*]PhishingMinds.Server.Controllers.DashboardController*,[*]PhishingMinds.Server.Controllers.EmpresaController*,[*]PhishingMinds.Server.Controllers.TemplateController*,[*]PhishingMinds.Server.Controllers.TrackingController*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
